<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wray.hjzdm.mapper.CommentMapper">
    <insert id="insertComment" parameterType="com.wray.hjzdm.entity.Comment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO "COMMENT"(ID, parent_id, DISCLOSURE_ID, CONTENT, CREATE_TIME, AUTHOR, STATUS)
        VALUES (#{id,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{disclosureId,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{author,jdbcType=BIGINT}, 1)
    </insert>
    <select id="queryComment" resultType="com.wray.hjzdm.dto.CommentDTO">
        SELECT C.ID,
               U.AVATAR AS AVATAR_URL,
               C.parent_id AS parentId,
               C.DISCLOSURE_ID,
               C.CONTENT,
               C.CREATE_TIME,
               C.AUTHOR,
               C.STATUS,
               U.NAME   AS NICK_NAME
        FROM "COMMENT" C
                 LEFT JOIN "USER" U ON C.AUTHOR = U.ID
        WHERE DISCLOSURE_ID = #{disclosureId}
        AND C.STATUS = 1
        ORDER BY CREATE_TIME ASC
    </select>


</mapper>